<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Cadastro de Pessoa</title>
	<link rel="stylesheet" href="bulma/css/bulma.css">
</head>
<body>

	<div class="card">
  	<header class="card-header">
    	<p class="card-header-title" style="margin-left:400px; font-size: 30px">Cadastro de Pessoa</p>
  	</header>
  	<div class="card-content">
    <div class="content">
      <form action="salvarpessoa" method="post">
		<label>Nome:</label>
		<input class="input is-link" type="text" name="nome"/>
		<label>Sobrenome:</label>
		<input class="input is-link" type="text" name="sobrenome"/>
		<label>Idade:</label>
		<input class="input is-link" type="number" name="idade"/>
		<div class="buttons">
		<input class="button is-link" type="submit" value="Salvar"/>
		</div>
	</form>
    </div>
  </div>
</div>
	
	
		<a class="button is-warning " href="/listapessoas">lista</a>
		
	<div class="card">
  <div class="card-content">
    <div class="content">
    	<div class="table-container">
	  		<table class="table is-fullwidth is-striped is-hoverable">
	  				<thead>
	  					<tr>
	  						<th>Id</th>
	  						<th>Nome</th>
	  						<th>sobrenome</th>
	  						<th>Idade</th>
	  					</tr>
	  				</thead>
	  				<tbody>
	  					<tr th:each = "pessoa: ${pessoas}">
							<td th:text="${pessoa.id}"></td>
							<td th:text="${pessoa.nome}"></td>
							<td th:text="${pessoa.sobrenome}"></td>
							<td th:text="${pessoa.idade}"></td>
						</tr>
	  				</tbody>	  			
			</table>
		</div>
     
    </div>
  </div>
</div>
	
	  			
    		
  
</body>
</html>